html,
body {
  background-color: #191919;
  height: 100%;
}

#btn_toggleMenu {
  z-index: 1000;
}

canvas#myCanvas {
  border-top: 0.3rem solid #313131;
  border-bottom: 0.3rem solid #313131;
  width: 100%;
  box-sizing: border-box;
}
